@import url("https://fonts.googleapis.com/css?family=Numans");

.SignInCompanies {
  background-image: url("../Style/SignInCompanies.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  font-family: "Numans", sans-serif;
}

.SignInCompanies .container {
  /* padding-top: 12%; */
  height: 100%;
  align-content: center;
}

.SignInCompanies .x {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.SignInCompanies .social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #6f94a3;
}

.SignInCompanies .social_icon span:hover {
  color: white;
  cursor: pointer;
}

.SignInCompanies .card-header h3 {
  color: white;
}

.SignInCompanies .social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.SignInCompanies .u span {
  width: 50px;
  background-color: #6f94a3;
  color: black;
  border: 0 !important;
}

.SignInCompanies input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.SignInCompanies .remember {
  color: white;
}

.SignInCompanies .remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.SignInCompanies .login_btn {
  color: black;
  background-color: #6f94a3;
  width: 100px;
}

.SignInCompanies .login_btn:hover {
  color: black;
  background-color: white;
}

.SignInCompanies .links {
  color: white;
}

.SignInCompanies .links a {
  margin-left: 4px;
}
